$body-bg: #f8f8f8;
$font-size-base: 0.875rem;
$border-radius: 0.3rem;

$grid-gutter-width-base: 20px;

$card-spacer-x: 0.575rem 0.825rem;

$link-hover-decoration: none;

$color-orange: #e77237;
$color-slate: #3d5c6a;
$color-blue: #1496b5;
$color-green: #32aa9e;
$color-red: #b4153b;
$color-yellow: #f0ad4e;
$color-dark: #243f49;

$border-color: rgba($color-slate, 0.15);

$gray-dark:                 #333;
$gray:                      #656666;
$gray-light:                #aaaaab;
$gray-lighter:              #c2c1c0;
$gray-lightest:             #e2e2e1;

$brand-primary:             $color-green;
$brand-success:             $color-green;
$brand-info:                $color-blue;
$brand-warning:             $color-yellow;
$brand-danger:              $color-red;
$brand-inverse:             $color-dark;

$nav-tabs-border-color: $gray-lightest;
$nav-tabs-active-link-hover-border-color: $brand-primary;
$nav-link-hover-bg: transparent;
$nav-tabs-active-link-hover-bg: transparent;
$nav-tabs-link-hover-border-color: $gray-lightest;
