$body-bg: #f8f8f8;
$font-size-base: 0.875rem;
$border-radius: 0.3rem;

$color-orange: #E77237;
$color-slate: #3D5C6A;
$color-blue: #1496B5;
$color-green: #32AA9E;
$color-red: #B4153B;
$color-yellow: #f0ad4e;
$color-dark: #243F49;

$gray-dark:                 #333;
$gray:                      #656666;
$gray-light:                #aaaaab;
$gray-lighter:              #c2c1c0;
$gray-lightest:             #e2e2e1;

$brand-primary:             $color-green;
$brand-success:             $color-green;
$brand-info:                $color-blue;
$brand-warning:             $color-yellow;
$brand-danger:              $color-red;
$brand-inverse:             $color-slate;
