@import "variables";

.demo-row {
  padding-bottom: 1rem;
}

.demo-row.typography-row .demo-type-example {
  padding-left: 15%;
  margin-bottom: 40px;
  position: relative;
}

.demo-row .demo-heading-note,
.demo-row .demo-text-note {
  display: block;
  width: 160px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.86rem;
  color: #c0c1c2;
  font-weight: 400;
}

.konstru-full-window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.director-logo {
  margin-top: -150px;
  margin-bottom: -30px;
}

.subhead {
  font-size: 1.25rem;
  font-weight: 300;
}

.icons-list {
  .icon-container {
    display: inline-block;
    margin: 0 1rem 1rem 0;
  }

  .icon {
    fill: $color-slate;
  }
}
