<footer class="footer clearfix">
  <div class="container-fluid text-muted">
    <div class="row">
      <div class="col">
        <a href="https://konstru.com" class="footer-link text-muted">konstru.com</a>
        <a href="#" class="footer-link text-muted">Documentation</a>
        <a href="#" class="footer-link text-muted">Report a Bug</a>
      </div>

      <div class="col text-right">
        <a href="https://konstru.com" class="footer-link text-muted">Terms of Service</a>
        <a href="https://konstru.com" class="footer-link text-muted">Privacy</a>
        Copyright &copy; 2017 Konstru Inc.
      </div>
    </div>
  </div>
</footer>
