<div class="container-fluid p-3">

  <label>Activity compared to:</label>
  <div class="d-flex w-100">
    <div class="mr-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        First Level
      </button>
    </div>
    <div class="mr-3">
      <span class="btn-group" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked>
          2 new versions
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off">
          1 version behind
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off">
          7 total versions
        </label>
      </span>
    </div>
  </div>

  <div class="activity-stream mt-3">
    {{#each prototypeData.activity}}
      {{> activity this}}
    {{/each}}
  </div>

</div>
