<div class="container-fluid p-3">
  <div class="row">
    <nav class="col-2 flex-column nav-pills">
      <a class="nav-link active" href="#model-settings-options" data-toggle="tab">Options</a>
      <a class="nav-link" href="#model-settings-collaborators" data-toggle="tab">Collaborators</a>
      <a class="nav-link" href="#model-settings-filters" data-toggle="tab">Filters</a>
    </nav>
    <div class="col">


      <div class="tab-pane fade in show active" id="model-settings-options">
        <form>

          <fieldset class="card p-3">
            <h4 class="card-title">Model options</h4>
            <div class="form-group">
              <label for="modelName">Name</label>
              <input type="text" class="form-control" id="modelName" placeholder="Name" value="{{model.name}}">
            </div>
            <div class="form-group">
              <label for="modelDescription">Description</label>
              <textarea type="text" class="form-control" id="modelDescription" placeholder="Description">{{model.description}}</textarea>
            </div>
              <button type="submit" class="btn btn-primary">Save</button>
          </fieldset>

          <fieldset class="card p-3">
            <h4 class="card-title">Delete this model</h4>
            <label for="modelDelete"><strong>Warning:</strong> Deleting this model is irreversible. Be careful. </label>
            <button type="submit" id="modelDelete" class="btn btn-primary btn-danger">Delete this model</button>
          </fieldset>

        </form>
      </div>

      <div class="tab-pane fade" id="model-settings-collaborators">
          collaborators
      </div>

      <div class="tab-pane fade" id="model-settings-filters">
          filters
      </div>

    </div>
  </div>
</div>
