<header class="project-header pt-2">

  <div class="container">

    <h2>{{name}}</h2>
    <p class="text-muted">{{description}}</p>

    <ul class="nav nav-tabs nav-underline">
      <li class="nav-item">
        <a href="/prototype/project" class="nav-link active">
          Models
          <span class="project-model-count tag tag-pill tag-default">
            {{models_count}}
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/prototype/project/compare">
          Compare &amp; Merge
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/prototype/project/settings">
          Settings
        </a>
      </li>
    </ul>

  </div>

</header>
