<header class="project-header pt-3">
  <div class="container-fluid">
    <h3 class="project-header-title">{{name}}</h3>
    <div class="text-muted mb-2">{{description}}</div>
  </div>
  <nav class="nav-tabs d-flex align-items-stretch px-3">
    <a href="#project-models" class="nav-link active" data-toggle="tab">
      Models
      <span class="project-model-count nav-pill">
        {{models_count}}
      </span>
    </a>
    <a class="nav-link" href="#project-merge" data-toggle="tab">
      Compare &amp; Merge
    </a>
    <a class="nav-link" href="#project-settings" data-toggle="tab">
      Settings
    </a>
  </nav>
</header>
