<header class="project-header pt-3">
  <div class="container-fluid">
    <h2 class="project-header-title">{{name}}</h2>
    <div class="text-muted mb-2">{{description}}</div>
  </div>
  <ul class="nav nav-tabs container-fluid">
    <li class="nav-item">
      <a href="#project-models" class="nav-link active">
        Models
        <span class="project-model-count nav-pill">
          {{models_count}}
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#project-merge">
        Compare &amp; Merge
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#project-settings">
        Settings
      </a>
    </li>
  </ul>
</header>
