{{#contentFor "pageTitle"}}Forgot your password?{{/contentFor}}

<div class="row flex-items-xs-center konstru-full-window m-0 bg-inverse">
  <div class="text-xs-center flex-xs-middle">
    <div class="card account">
      <form action="/prototype/dashboard" method="get">
        <div class="card-block pt-1 pr-2 pl-2">
          <div class="pt-1 pb-2">
            <img src="/images/konstru-color.svg" width="160" class="director-logo" />
          </div>
          <h5 class="mb-2">Reset my password</h5>
          <div class="form-group">
            <input type="text" placeholder="Email address" class="form-control" autofocus />
          </div>
        </div>
        <div class="card-block account-footer rounded-bottom pt-1 pb-1 pl-2 pr-2">
          <a href="/prototype/dashboard" class="btn btn-primary btn-block">Send password reset</a>
        </div>
      </form>
    </div>
    <div class="text-white">
      <a href="/prototype/sign-in">Sign in to your account</a>
    </div>
  </div>
</div>
