{{#contentFor "pageTitle"}}{{prototypeData.models.[1].name}}{{/contentFor}}

{{> nav projects_class='active'}}

{{> model-header model=prototypeData.models.[1] project=prototypeData.projects.[0]}}

<div class="container-fliud tab-content">

    <div class="tab-pane fade in active" id="model-visualize">

      <div class="container-fliud p-1">

        <div class="row">

          <div class="col-xs-8">
            {{> version-dropdown model=prototypeData.models.[1]}}

            <span class="btn-group" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                Changes
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off">
                Selected
              </label>
            </span>

            {{> compare-dropdown model=prototypeData.models.[1] models=prototypeData.models}}
          </div>

          <div class="col-xs-4 text-xs-right">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="text-muted">Filter elements:</span>
              <strong>4,567</strong>
            </button>
          </div>

          <div class="col-xs-12 pt-1">
            {{> diffstat-graph model=prototypeData.models.[1]}}
          </div>

        </div>
      </div>

      {{> model-viewer model=prototypeData.models.[1]}}

    </div>

    <div class="tab-pane fade" id="model-history">Default 2</div>

    <div class="tab-pane fade" id="model-copies">Default 3</div>

    <div class="tab-pane fade" id="model-settings">Default 3</div>

</div>

{{>footer}}
