.form-control {
  line-height: 1.3;
  color: $color-slate;
  resize: none;
  border-color: fadeout($color-slate, 0.2);
  box-shadow: #e9eaeb 0 1px 0;

  @include placeholder {
    color: fade-out($color-slate, 0.5);
  }

  &:focus {
    border-color: $color-slate;
    box-shadow: rgba($color-slate, 0.2) 0 0 0 3px;
  }

  &:disabled {
    color: $gray-light;
    background: #f8f8f8;
  }

  &-narrow {
    max-width: 280px;
  }
}

.has-success {
  @include form-control-validation(darken($color-green, 20%), $color-green);
}

.has-error {
  @include form-control-validation($color-red, $color-red);
}

.custom-control-input:checked ~ .custom-control-indicator {
  background-color: $color-green;
}
