.nav-tabs {
  width: 100%;

  .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin-right: 2em;
    font-weight: 500;
    color: $color-slate;
    border-width: 0 0 4px;

    &:hover {
      color: $color-dark;
      border-color: transparent;
      border-width: 0 0 4px;
    }

    &.active {
      &,
      &:hover {
        border-color: transparent transparent $nav-tabs-active-link-hover-border-color transparent !important;
        border-width: 0 0 4px !important;
      }
    }

    .nav-pill {
      position: relative;
      display: inline-block;
      padding: 0 0.3rem;
      margin-left: 0.2rem;
      font-size: 0.75rem;
      font-weight: inherit;
      color: inherit;
      background: transparent;
      border: 1px solid $gray-lightest;
      border-radius: 10px;
    }
  }
}
