<div class="row flex-items-xs-center konstru-full-window m-0">
  <div class="text-xs-center flex-xs-middle">
    <div class="display-4 text-muted">
      404 not found
    </div>
    <p>
      <a href="/">Go back to the Home Page</a>
    </p>
  </div>
</div>
