<div class="row flex-items-xs-center konstru-full-window m-0">
  <div class="text-xs-center flex-xs-middle">
    <div>
      <img src="/images/logo.svg" width="140" class="director-logo" />
    </div>
    <div class="display-2">
      Konstru Web UI
    </div>
    <div class="text-muted mb-2">
      Theme styles and component prototypes for the Konstru Web Application
    </div>
    <div>
      <a href="#" class="btn btn-primary mr-1">Explore the Prototype</a>
      <a href="/components" class="btn btn-secondary">View Components</a>
    </div>
  </div>
</div2
