<div class="row align-items-center justify-content-center konstru-full-window m-0">
  <div class="text-center flex-middle">
    <div>
      <img src="/images/logo.svg" width="140" class="director-logo" />
    </div>
    <div class="display-2">
      Konstru Web UI
    </div>
    <div class="text-muted mb-3">
      Theme styles and component prototypes for the Konstru Web Application
    </div>
    <div>
      <a href="/prototype/sign-in" class="btn btn-primary mr-3">Explore the Prototype</a>
      <a href="/components" class="btn btn-secondary">View Components</a>
    </div>
  </div>
</div>
