@import "../variables";

.activity-stream {
  display: table;
  margin-left: 1rem;
  border-collapse: collapse;

  &-item {
    display: table-row;

    > * {
      display: table-cell;
    }

    &:last-child {
      .activity-stream-body {
        padding-bottom: 0;
      }
    }
  }

  &-timeago {
    width: 1px;
    padding-top: 0.5rem;
    padding-right: 1rem;
    font-size: 0.825rem;
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
  }

  &-avatar {
    width: 24px;
    padding-right: 1rem;
    vertical-align: top;
  }

  &-body {
    position: relative;
    padding-bottom: 2rem;

    &::before {
      position: absolute;
      top: 48px;
      bottom: 10px;
      left: -36px;
      width: 4px;
      content: "";
      background: $border-color;
      border-radius: 2px;
    }
  }

  &-title {
    padding-top: 0.45rem;
    padding-bottom: 1.2rem;
    vertical-align: middle;
  }

  &-image {
    position: relative;
    width: 600px;
    height: 400px;
    background-position: center;
    background-size: cover;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      box-shadow: inset $border-color 0 -1px 0;
    }
  }
}
