/*
The html & body styles are to maintain a footer at the bottom of the window, but
not fixed, so it will scroll with the content.
*/

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-top: 1px solid $border-color;
  padding: 2rem 0;

  &-link {
    margin-right: 1rem;
  }
}
