.model {
  &-list {
    .media-left {
      width: 170px;
    }

    .model-list {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
        content: "";
        border-left: 4px solid $gray-lightest;
      }
    }
  }

  &-preview {
    flex-direction: row;
  }

  &-preview-meta {
    line-height: 1.2;
  }

  &-viewer {
    position: relative;
  }

  &-viewer-tools {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  &-version-dropdown {
    min-width: 300px;
  }

  &-compare-dropdown {
    min-width: 400px;
  }

  &-image {
    padding-bottom: 56.25%; //16x9 aspect
    background-position: center;
    background-size: cover;
  }

  &-thumbnail {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; //16x9 aspect
    background-position: center;
    background-size: cover;

    .tag {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}
