/* stylelint-disable selector-no-type */

.stats {
  overflow: hidden;
  cursor: default;

  .nowrap {
    display: inline-block;
    text-indent: 0.25rem;
    white-space: nowrap;
  }

  &-graph {
    height: 1rem;
    margin: 0.25rem 0;
    overflow: hidden;
    border-radius: 3px;
    transition: margin-top 0.2s ease;

    &-item {
      position: relative;
      display: block;
      float: left;
      height: 1rem;
      overflow: hidden;
      line-height: 1rem;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        content: "";
        border-right: 1px solid $gray-lightest;
      }

      &:last-child::after {
        display: none;
      }

    }
  }

  .bg-danger,
  .bg-success,
  .bg-warning {
    color: #fff;
  }

  &-text {
    padding: 0.35rem 0;
    text-align: center;

    span {
      margin: 0 0.4rem;
    }
  }

  &.compact:hover {
    height: 2.65rem;

    .stats-graph {
      margin-top: -1.6rem;
    }

  }

}
